# mongod.conf

# for documentation of all options, see:
#   http://docs.mongodb.org/manual/reference/configuration-options/

# Where and how to store data.
storage:
  dbPath: C:\Program Files\MongoDB\Server\8.3\data

# where to write logging data.
systemLog:
  destination: file
  logAppend: true
  path: C:\Program Files\MongoDB\Server\8.3\log\mongod.log

# network interfaces
net:
  port: 27017
  bindIp: 127.0.0.1
#processManagement:

#security:

#operationProfiling:

#replication:

#sharding:

## Enterprise-Only Options:

#auditLog:



# Teacher Name: Aniket Bhardwaj
# Username: vls752
# Email: aniket@gmail.com
# Password: vls752@1234




# Staff ID: VLS-801 | Name: Amit Verma | Username: vls801 | Password: VLS-801@1234
# Staff ID: VLS-802 | Name: Priya Sundaram | Username: vls802 | Password: VLS-802@1234
# Staff ID: VLS-803 | Name: Rajesh Nambiar | Username: vls803 | Password: VLS-803@1234
# Staff ID: VLS-804 | Name: Meenakshi Rao | Username: vls804 | Password: VLS-804@1234